* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

:root {
  --dark-background: #141c2f;
  --light-background: #f5f8ff;
  --dark-foreground: #1f2a48;
  --light-foreground: #fefefe;
  --dark-text: #b3b9c5;
  --light-text: #818999;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'DM Sans', sans-serif;
  max-width: 100%;
}

.dark-background {
  background-color: var(--dark-background);
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 1em 0.5em;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

.dark-text {
  color: var(--dark-text);
}

.leaderboard-sections {
  display: flex;
  justify-content: space-between;
}

.leaderboard-sections > * {
  margin: 0.55em;
}

.add-score-section {
  margin-bottom: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.btn {
  padding: 1.2em 2.55em;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: var(--dark-foreground);
  color: var(--dark-text);
}

.btn:hover {
  background-color: var(--dark-background);
  box-shadow: 0 4px 10px #091125;
}

.leaderboard-form {
  display: flex;
  flex-direction: column;
}

.add-score {
  margin-bottom: 10px;
}

.input {
  padding: 1.45em 1.85em;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1.25px;
}

.input:hover {
  background-color: #dbdbdb;
}

.input:nth-last-child(2n) {
  margin-bottom: 20px;
}

.get-leaderboard {
  display: flex;
  flex-direction: column;
}

.leaderboard-table {
  max-width: 500px;
  height: 60vh;
  overflow-y: auto;
  border: none;
  border-radius: 6px;
  padding: 10px;
  background-color: var(--dark-foreground);
}

.heading {
  color: white;
  font-weight: bold;
}

.list-item {
  display: flex;
  align-items: center;
  color: var(--dark-text);
  border-bottom: 1px solid var(--dark-background);
}

.list-item > * {
  flex: 1 1 50%;
}

span {
  word-break: break-all;
  padding: 0.75em;
  text-align: left;
}
